<h2> ======================================================</h2>
 <h1>MA477 - Theory and Applications of Data Science</h1> 
  <h1>Lesson 2: Introduction to NumPy</h1> 
 
 <h4>Dr. Valmir Bucaj</h4>
 <br>
 United States Military Academy, West Point, AY20-2
<h2>=======================================================</h2>

In [54]:
import numpy as np

<h2>==================================================</h2>
<br>
<h1>HOMEWORK #1</h1>

<h2>=================================================</h2>

<h3> Complete the following exercises. Document your code as necessary.</h3>
<br>

<ol>
<li><font size=3> Create a 5 by 7 numpy array of random integers with values between 3 and 11 inclusive. Then do the following:
    <ol> <li>Check the data type of the array</li>
        <li>Find the maximum of the entire array</li>
        <li>Find the minimum value of each row</li>
        <li>Find the index where the minimum value of each row occurs</li>
    </ol></font></li>
</ol>

In [6]:
#Your code for part A of Exercise 1 goes here
a = np.random.randint(3,12,size=(5,7))
a.dtype
a

array([[ 3,  6,  3,  3,  5, 10,  7],
       [11,  9,  5,  4,  8,  4,  4],
       [ 6,  6,  7,  4,  8, 11,  5],
       [ 3, 11,  5,  8, 10,  3,  9],
       [ 4,  9,  7,  3,  7,  9,  3]])

In [7]:
#Your code for part B of Exercise 1 goes here
np.max(a)

11

In [15]:
#Your code for part C of Exercise 1 goes here
a.min(axis=1)

array([4, 4, 4, 3, 3])

In [16]:
#Your code for part D of Exercise 1 goes here
a.argmin(axis=1)

array([0, 3, 0, 3, 0], dtype=int64)

<ol start='2'>
   
<li> <font size='3'>Enter the code below that generates the following numpy array: </font></li>

```python
#Result
array([ 4,  9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 74, 79, 84,
       89, 94, 99])
```    
</ol>

In [17]:
#Your code for Exercise 2 goes here
np.arange(4,100,5)

array([ 4,  9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 74, 79, 84,
       89, 94, 99])

<ol start='3'>
   
<li> <font size='3'>Enter the code below that generates the following numpy array: </font></li>

```python
#Result
array([[ 4,  9, 14, 19, 24],
       [29, 34, 39, 44, 49],
       [54, 59, 64, 69, 74],
       [79, 84, 89, 94, 99]])
```    
</ol>

In [21]:
#Your code for Exercise 3 goes here
a = np.arange(4,100,5)
a.reshape(4,5)

array([[ 4,  9, 14, 19, 24],
       [29, 34, 39, 44, 49],
       [54, 59, 64, 69, 74],
       [79, 84, 89, 94, 99]])

<ol start='4'>
   
<li> <font size='3'>Create a 4 by 2 by 3 array of normally distributed values</font></li>
   
</ol>

In [22]:
#Your code for Exercise 4 goes here
np.random.randn(4,2,3)

array([[[-0.41605197, -3.0802917 , -0.01841869],
        [ 0.07301927,  0.81666268, -1.08076112]],

       [[ 1.44641781,  0.7572359 ,  0.51461164],
        [-0.73468108, -0.71581381,  0.90133255]],

       [[-1.18359072,  0.24889186, -0.35295733],
        [ 0.52938379,  0.07002506, -0.77256899]],

       [[-0.30364389,  1.08843872, -0.33575009],
        [ 0.55627096,  1.63891459,  1.13721165]]])

<ol start='5'>
   
<li> <font size='3'>Enter the code below that generates the following numpy array(including the correct
    data type): </font></li>

```python
#Result
array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0]]
```    

</ol>

In [26]:
#Your code for Exercise 5 goes here
np.eye(6,k=-2)

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.]])

<ol start='6'>
   
<li> <font size='3'>Given the numpy array below </font></li>

```python
array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33])
```    
<ol>
    <li>Enter the code below that selects only the last four elements:</li>

```python
#Result
array([27, 29, 31, 33])
```
<li>Enter the code that selects the following subarray:

```python
#Result
array([ 3,  9, 15, 21, 27, 33])
```
</ol>
</ol>

In [32]:
#Your code for part A of Exercise 6 goes here
list = [ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33]
arr = np.array(list)
arr[arr>26]

array([27, 29, 31, 33])

In [178]:
#Your code for part B of Exercise 6 goes here
arr[arr%3==0]

<ol start='7'>
   
<li> <font size='3'>Given the 2D numpy array below </font></li>

```python
arr_2d=np.array([[69, 75, 52, 33,  7, 62, 22],
               [87, 51, 13, 75, 78, 46, 53],
               [43, 24, 58, 76,  3,  3, 57],
               [84, 86, 75, 26, 71, 77,  7],
               [75, 17, 17, 38, 54, 72, 78]])
```    
<ol>
    <li> Enter the code below that selects the element 72 on the last row</li>
    <br>
   <li>Enter the code below that selects the following subarray:</li>

```python
#Result
array([[76,  3],
       [26, 71],
       [38, 54]])
```
<li>Enter the code that selects the following subarray:

```python
#Result
array([[87, 51, 13, 75, 78, 46, 53],
       [43, 24, 58, 76,  3,  3, 57],
       [84, 86, 75, 26, 71, 77,  7]])
```
</ol>
</ol>

In [40]:
#Your code for part A of Exercise 7 goes here
list = [[69, 75, 52, 33,  7, 62, 22],
               [87, 51, 13, 75, 78, 46, 53],
               [43, 24, 58, 76,  3,  3, 57],
               [84, 86, 75, 26, 71, 77,  7],
               [75, 17, 17, 38, 54, 72, 78]]
arr = np.array(list)
arr[-1,-2]

72

In [42]:
#Your code for part B of Exercise 7 goes here
arr[2:,3:5]

array([[76,  3],
       [26, 71],
       [38, 54]])

<ol start='8'>
   
<li> <font size='3'>Given the numpy array below </font></li>

```python
arr=np.arange(1,50,3)
array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49])
```    
<ol>
    <li>Enter the code that selects all elements larger than 7 and smaller than 43:

```python
#Result
array([10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40])

```
   <li>Enter the code below that selects all even integers larger than 11 and smaller than 45:</li>

```python
#Result
array([16, 22, 28, 34, 40])
```
</ol>
</ol>

In [48]:
#Your code for part A of Exercise 8 goes here
arr=np.arange(1,50,3)
arr[(arr>7) & (arr<43)]

array([10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40])

In [49]:
#Your code for part B of Exercise 8 goes here
arr[(arr%2==0) & (arr>11) & (arr<45)]

array([16, 22, 28, 34, 40])

<ol start='9'>
   
<li> <font size='3'>Create a 1D uniformly distributed array with 20 elements and compute: </font></li>


<ol>
    <li> Mean</li>

   <li>Standard Deviation</li>
   
   <li>Median</li>
   
   <li>Mean of its log values</li>
</ol>
</ol>

In [51]:
#Your code for part A of Exercise 9 goes here
arr = np.random.rand(20)
arr.mean()

0.49418880340824084

In [52]:
#Your code for part B of Exercise 9 goes here
arr.std()

0.3002645648330544

In [57]:
#Your code for part C of Exercise 9 goes here
np.median(arr)

0.46303780158662455

In [59]:
#Your code for part D of Exercise 9 goes here
arr_log = np.log10(arr)
arr_log.mean()

-0.44087749508446034

<ol start='10'>
   
<li> <font size='3'>Write a function that:</font></li>
    <ol>
    <br>
   <li> takes a 1D Numpy array as input and prints out the <b>reversed</b> array with element type float</li>

For example, if you input the following array into your function
```python
array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23])
```
your function should print out

```python
array([23., 21., 19., 17., 15., 13., 11.,  9.,  7.,  5.,  3.,  1.])
```

<li> takes a 2D Numpy array as input and prints out a copy of the input array <b> flattened</b> to one dimension</li>

For example if the input array is:
```python
array([[7, 4, 8, 3],
       [6, 3, 4, 3],
       [4, 7, 5, 4]])
```
the output of your function should be
```python
array([7, 4, 8, 3, 6, 3, 4, 3, 4, 7, 5, 4])
```
</ol>
</ol>

In [48]:
#Your code for part A of Exercise 10 goes here
def reverse_float(a):
    b = np.flip(a)
    c = b.astype(float)
    return c
    
arr = np.array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23])
reverse_float(arr)
# CITATIONS
#https://docs.scipy.org/doc/numpy/reference/generated/numpy.flip.html
#I used this website to teach me how to reverse the order of an array.
#This website taught me that there is a function within numpy called numpy.flip.
#THis function allows you to reverse the order of the elements in an array 

#https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.astype.html
#I used this website to teach me how to change the type of data within an array.
#I learned that there is a function built into numpy called astype() which allows
#for you to change the data type of the elements of an array.

#Without the aid of these two websites, I would not have been able to complete
#this problem. West Point, NY 20 January 2020.

array([23., 21., 19., 17., 15., 13., 11.,  9.,  7.,  5.,  3.,  1.])

In [53]:
#Your code for part A of Exercise 10 goes here
def flat(a):
    b = a.flatten()
    return b

a = np.array([[7, 4, 8, 3],
       [6, 3, 4, 3],
       [4, 7, 5, 4]])
flat(a)

#CITATION
#https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.flatten.html
#I used this website to learn how to flatten/collapse an array into a 1D array.
#This website taught me about the function flatten(), that collapses a 2D array
#into a 1D array.
#Without the help of this website, I would not have been able to complete this assignment.
#West Point, NY 20 January 2020.

array([7, 4, 8, 3, 6, 3, 4, 3, 4, 7, 5, 4])